<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ola.travel.camera">

    <application>
        <!--证件拍照提示页面-->
        <activity
            android:name=".activity.DriverInfoPictureHintActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.DriverCertificateCameraActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- autosize-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="750" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="1334" />
    </application>
</manifest>