<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ola.travel.camera">

    <application>
        <!--证件拍照提示页面-->
        <activity
            android:name=".activity.DriverInfoPictureHintActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.DriverCertificateCameraActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>